body {
 font-family: Arial, Verdana, sans-serif;
}

.leftPane,.rightPane {
 border: 1px solid gray;
}

.header,.main,.footer {
 width: 100%;
 margin: 0px auto;
 clear: both;
}

.leftPane,.rightPane {
 float: left;
 margin: 10px;
}

.leftPane {
 width: 10%px;
}

.rightPane {
 width: 90%;
}

.leftMenu {
 list-style: none;
 padding: 0;
 margin: 10px;
}